  <div class="pagetitle">
    <h1>Profile</h1>
  </div>
  <section class="section profile">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <div class="d-none d-md-block">

            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                  <i class="bi bi-person-circle"></i> Aperçu
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                  <i class="bi bi-pencil-square"></i> Modifier le profil
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                  <i class="bi bi-key"></i> Changer le mot de passe
                </button>
              </li>
            </ul>
            </div>
          <div class="d-block d-md-none">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                  <i class="bi bi-person-circle"></i>
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                  <i class="bi bi-key"></i> 
                </button>
              </li>
            </ul>
          </div>


            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Détails du profil</h5>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nom et prénom</div>
                  <div class="col-lg-9 col-md-8">{{userDto.firstname}} {{userDto.lastname}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Mobile</div>
                  <div class="col-lg-9 col-md-8">{{userDto.mobile}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Téléphone</div>
                  <div class="col-lg-9 col-md-8">{{userDto.tel}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Fax</div>
                  <div class="col-lg-9 col-md-8">{{userDto.fax}}</div>
                </div>
              </div>
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <div *ngIf="successMessage" class="alert alert-success">La modification a été effectuée avec succès.</div>
                <form>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                    <div class="col-md-8 col-lg-9"> <input name="fullName" type="text" class="form-control" id="fullName" [(ngModel)]="userDto.firstname"></div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Prenom</label>
                    <div class="col-md-8 col-lg-9"> <input name="lastName" type="text" class="form-control" id="lastName" [(ngModel)]="userDto.lastname"></div>
                  </div>
                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Téléphone</label>
                    <div class="col-md-8 col-lg-9"> <input name="phone" type="text" class="form-control" id="Phone" [(ngModel)]="userDto.tel"></div>
                  </div>
                  <div class="row mb-3">
                    <label for="fax" class="col-md-4 col-lg-3 col-form-label">Fax</label>
                    <div class="col-md-8 col-lg-9"> <input name="fax" type="text" class="form-control" id="fax" [(ngModel)]="userDto.fax"></div>
                  </div>
                  <div class="row mb-3">
                    <label for="mobile" class="col-md-4 col-lg-3 col-form-label">Mobile</label>
                    <div class="col-md-8 col-lg-9"> <input name="mobile" type="text" class="form-control" id="mobile" [(ngModel)]="userDto.mobile"></div>
                  </div>
                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9"> <input name="email" type="text" class="form-control" id="email" [(ngModel)]="userDto.email"></div>
                  </div>
                  <div class="text-center"> <button type="submit" class="btn btn-primary" (click)="modifier()">Modifier</button></div>
                </form>
              </div>
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <div class="alert alert-success" *ngIf="success">
                  <strong>succès!</strong> Le mot de passe a été modifié avec succès.
                </div>
                <div class="alert alert-danger" *ngIf="erreur">
                  <strong>erreur!</strong> Le mot de passe et la confirmation du mot de passe ne sont pas identiques..
                </div>
                <form>
                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label" >nouveau mot de passe</label>
                    <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword"></div>
                  </div>
                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Ré-entrez le nouveau mot de passe</label>
                    <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword" [(ngModel)]="confirmNewPassword"></div>
                  </div>
                  <div class="text-center"> <button type="submit" class="btn btn-primary" (click)="editPassword()">Changer le mot de passe</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
