<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" *ngIf="errorMessage.length > 0">
  <span *ngFor="let msg of errorMessage">{{msg}} <br></span>
</div>
<form>
  <div class="form-group mb-3">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" placeholder="Entrez nom" name="nom" [(ngModel)]="client.nom"
    >
  </div>
  <div class="form-group mb-3">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" id="prenom" placeholder="Entrez prénom" name="prenom" [(ngModel)]="client.prenom">
  </div>
  <div class="form-group mb-3">
    <label for="nomCommercial">Nom Commercial</label>
    <input type="text" class="form-control" id="nomCommercial" placeholder="Entrez Nom Commercial" name="nomCommercial" [(ngModel)]="client.nomCommercial">
  </div>
  <div class="form-group mb-3">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Entrez Email" name="email" [(ngModel)]="client.email">
  </div>
  <div class="form-group mb-3">
    <label for="code">Code</label>
    <input type="text" class="form-control" id="code" placeholder="Entrez code" name="code" [(ngModel)]="client.code">
  </div>
  <div class="form-group mb-3">
    <label for="telephone">Téléphone</label>
    <input type="tel" class="form-control" id="telephone" placeholder="Entrez numéro de téléphone" name="tel" [(ngModel)]="client.tel">
  </div>
  <div class="form-group mb-3">
    <label for="adresse">Adresse</label>
    <input type="text" class="form-control" id="adresse" placeholder="Entrez adresse" name="adresse" [(ngModel)]="client.adresse">
  </div>
  <div class="form-group mb-3">
    <label for="adresse">Remise</label>
    <input type="input" class="form-control" id="remise" placeholder="Entrez remise" name="remise" [(ngModel)]="client.remise">
  </div>
  <button type="submit" class="btn btn-primary" (click)="ajouterClient()">Envoyer</button>
</form>
