<div class="card text-black d-none d-md-block" #myDiv id="htmlData">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p style="color: #7e8d9f;font-size: 20px;">Devis : <strong>{{devis.reference}}</strong></p>
        </div>
        <hr>
      </div>

      <div class="container">

        <div class="row border-bottom mt-2">
          <div class="col-xl-8">
            Devis : {{devis.reference}}<br>
            Date : {{devis.dateDevis}}
          </div>
          <div class="col-xl-4">
            <ul class="list-unstyled">
              <li>Client : {{devis.client!.nomCommercial}}</li>
              <li>Adresse : {{devis.client!.adresse}}</li>
              <li>Mf : {{devis.client!.code}}</li>
            </ul>
          </div>
        </div>
        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Désignation</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix Unitaire</th>
              <th scope="col">Remise</th>
              <th scope="col">Total HT</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let f of devis.ligneDevis" class="border-bottom">
              <td scope="row">{{f.produit!.code}}</td>
              <td>{{f.produit!.description}}</td>
              <td>{{f.quantite}}</td>
              <td>{{f.prixUnitaire | number:'1.3-3' }} TND</td>
              <td>{{f.remise}}%</td>
              <td>{{f.prixTotal | number:'1.3-3' }} TND</td>
            </tr>
            </tbody>

          </table>
        </div>
        <div class="row mt-5">
          <div class="col-xl-8">
            <!--<p class="ms-3">Add additional notes and payment information</p>-->

          </div>
          <div class="col-xl-4">
            <ul class="list-unstyled">
              <li class="ms-3 mb-3"><span class="text-black me-4 fw-bold">Total brut HT</span>{{devis.montantHt | number:'1.3-3'}} TND</li>
              <li class="ms-3 mb-3"><span class="text-black me-4 fw-bold">TVA 19 % : </span>{{ devis.montantHt! * (devis.tauxTVA! / 100) | number:'1.3-3'}} TND</li>
              <li class="ms-3 mb-3"><span class="text-black me-4 fw-bold">Droit de timbre</span>1.000 TND</li>
            </ul>
            <p style="background-color:#84B0CA ;" class="text-black float-start fs-5 border p-1 rounded"><span class="text-black me-3" fw-bold> Total TTC</span><span
              style="font-size: 25px;">{{devis.montantTTC | number:'1.3-3'}} TND</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-right m-5">
    <button class="btn btn-success btn-block" (click)="openPDF2()">Téléchargez PDF</button>
  </div>
</div>
<div class="d-block d-md-none">
  <button class="btn btn-primary btn-block ms-2" (click)="openPDF2()"><i class="bi bi-download"></i> Télécharger en PDF</button>
  <div class="container">
    <div class="row">
      <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
      </div>
      <div class="card">
        <h5 class="card-title">Devis</h5>
        <div class="card-body">
          <p><b>Devis : </b>{{devis.reference}}</p>
          <p><b>Date : </b>{{devis.dateDevis}}</p>
          <p><b>Total brut HT : </b>{{devis.montantHt | number:'1.3-3'}} TND</p>
          <p><b>TVA 19 % : </b>{{ devis.montantHt! * (devis.tauxTVA! / 100) | number:'1.3-3'}} TND</p>
          <p><b>Droit de timbre : </b>1.000 TND</p>
          <p><b>Total TTC : </b>{{devis.montantTTC | number:'1.3-3'}} TND</p>
        </div>
      </div>
      <div class="card">
        <h2 class="card-title">Informations du client</h2>
        <div class="card-body">
          <div class="mb-4">
            <p><b>Nom: </b>{{devis.client!.nomCommercial}}</p>
            <p><b>Adresse: </b>{{devis.client!.adresse}}</p>
            <p><b>MF : </b>{{devis.client!.code}}</p>
          </div>
        </div>
      </div>
      <div class="card">
        <h2 class="card-title">Les produits</h2>
        <div>
          <div *ngFor="let f of devis.ligneDevis" class="row border-top border-secondary border-1 rounded pt-2">
            <div class="col-6">
              <p><b>Code : </b>{{f.produit!.code}}</p>
            </div>
            <div class="col-6">
              <p><b>Quantite : </b>{{f.quantite}}</p>
            </div>
            <div class="col-6">
              <p><b>Prix Unitaire : </b>{{f.prixUnitaire | number:'1.3-3' }} TND</p>
            </div>
            <div class="col-6">
              <p>
                <b>Remise : </b><span>{{f.remise}}%</span>
              </p>
            </div>
            <div class="col-6">
              <p> <b>Total HT :</b><br> {{f.prixTotal | number:'1.3-3' }} TND</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

