<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" *ngIf="errorMessage.length > 0">
  <span *ngFor="let msg of errorMessage">{{msg}} <br></span>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        Informations du client
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label>Sélectionnez une client</label>
          <select
            class="form-control"
            id="client"
            name="client"
            [(ngModel)]="client">
            <option disabled selected value="undefined">Sélectionnez une client</option>
            <option *ngFor="let c of listeClient" [ngValue]="c">{{c.nom}} {{c.prenom}}</option>
          </select>
        </div>
        <span *ngIf="errorClient == true" class="text-danger" m-2>Veuillez sélectionner un client avant de continuer. </span>
        <form>
          <div class="form-group mb-2">
            <label >Nom : {{client.nom}}</label>
          </div>
          <div class="form-group mb-2">
            <label >Prenom : {{client.prenom}}</label>
          </div>
          <div class="form-group mb-2">
            <label>Adresse : {{client.adresse}}</label>
          </div>
          <div class="form-group mb-2">
            <label>Telephone : {{client.tel}}</label>
          </div>
          <div class="form-group mb-2">
            <label>Remise : {{client.remise}} %</label>
          </div>
        </form>
      </div>
    </div>
      <div class="card">
        <div class="card-header">Date Facture</div>
        <div class="card-body"><input type="date" class="form-control" [(ngModel)]="facture.dateFacture"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-5">
        <div class="card-header text-center">
          Ajouter un produit
        </div>
        <div class="card-body">
          <div class="">
            <div class="col mb-2">
              <input type="text" class="form-control"
                     placeholder="Code Produit"
                     [(ngModel)]="codeProduit"
                     (input)="search()"
              >
              <div *ngIf="codeProduit.length && produitSelectedYet == true" class="card p-2">
                <p class="cursor-pointer"
                   *ngFor="let p of listProduitFiltrer"
                   (click)="selectPrdotui(p)"
                >{{p.code}} {{p.nom}}</p>
              </div>
            </div>
            <span class="text-danger" *ngIf="errorProduit == true">Veuillez choisir un produit</span>
            <div class="col mb-2">
              <input type="text" class="form-control"
                     placeholder="Quantité"
                     [(ngModel)]="quantite"
              >
            </div>
            <span class="text-danger" *ngIf="errorQnt == true">La quantité doit être supérieure à zéro.</span>
            <div class="col mb-2 mb-2">
              <input type="text" class="form-control"
                     placeholder="Prix Unitaire"
                     [(ngModel)]="prixUtitaire"
                     disabled
              >
            </div>
            <div class="col mb-2">
              <input *ngIf="searchProduit.etatRemise" type="text" class="form-control"
                     placeholder="Remise"
                     [(ngModel)]="client.remise"
                     disabled
              >
              <input *ngIf="!searchProduit.etatRemise" type="text" class="form-control"
                     placeholder="Remise"
                     value="0"
                     disabled
              >
            </div>
            <div class="col mb-2">
              Prix Totale : {{ quantite !== 0 ? (searchProduit.prix! * quantite)-((searchProduit.prix! * quantite)*(client.remise!/100)) : (searchProduit.prix! * 1)-((searchProduit.prix! * quantite)*(client.remise!/100)) | number:'1.3-3' }}
            </div>
            <div class="col mb-2">
              <button class="btn btn-success" (click)="ajouterProduitFacture()"><i class="bi bi-plus-circle-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Client information column -->
    <div class="col-md-12">
      <div class="card mb-5 d-none d-md-block">
        <div class="card-header text-center">
          La liste des produits facturés
        </div>
        <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Remise</th>
                <th scope="col">Prix Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let p of listeProduitFacture">
                <td scope="row">{{p.produit!.code}}</td>
                <td>{{p.quantite}}</td>
                <td>{{p.prixUnitaire | number:'1.3-3'}} TND</td>
                <td *ngIf="p.produit!.etatRemise">{{client.remise}} %</td>
                <td *ngIf="!p.produit!.etatRemise">0 %</td>
                <td>{{p.prixTotal | number:'1.3-3'}} TND</td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="d-block d-md-none card p-2">
        <h2 class="card-title">La liste des produits facturés</h2>
        <div *ngFor="let p of listeProduitFacture" class="row border-top border-secondary border-1 rounded pt-2">
          <div class="col-6">
            <p><b>Code : </b>{{p.produit!.code}}</p>
          </div>
          <div class="col-6">
            <p><b>Quantite : </b>{{p.quantite}}</p>
          </div>
          <div class="col-6">
            <p><b>Prix Unitaire : </b>{{p.prixUnitaire | number:'1.3-3'}} TND</p>
          </div>
          <div class="col-6">
            <p>
              <b>Remise : </b><span *ngIf="p.produit!.etatRemise">{{client.remise}} %</span>
              <span *ngIf="!p.produit!.etatRemise">0 %</span>
            </p>
          </div>
          <div class="col-6">
            <p> <b>Total HT :</b><br> {{p.prixTotal | number:'1.3-3'}} TND</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          total
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p>Total brut HT: {{totalHT | number:'1.3-3'}}</p>
              <p>TVA 19% : {{totalHT*(19/100) | number:'1.3-3'}}
              <p>Droit de timbre : 1.000
              <p>Total TTC : {{totalTTC | number:'1.3-3'}}
              </p>
            </div>

            <div>
              <div class="form-check">
                <input class="form-check-input" (change)="handleChangeTrue()" type="radio" name="paid" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Payé
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" (change)="handleChangeFalse()"  name="paid"  type="radio" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Non payé
                </label>
              </div>
              <button (click)="save()" class="btn btn-primary">Enregistrée</button>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
